@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100;500;800&family=Secular+One&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Anek Gurmukhi', sans-serif;
  
}
